@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Source+Sans+Pro');

.center {
  display: block;
  margin: 7px auto;
}
.container {
  width: 70%;
}
form {
  margin-top: 30px;
}
h1 {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: normal;
  margin-bottom: 20px !important;
}
textarea {
  height: 50vh;
  width: 70%;
  font-size: 24px;
  line-height: 35px;
  padding: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  border-left: 10px solid #23282D;
}
textarea:focus {
  outline: none !important;
  border-color: #98FB98;
  box-shadow: 0 0 10px #98FB98;
}
.button {
  background-color: white;
  padding: 15px;
  font-size: 20px;
  border: 3px solid #23282D;
  font-family: 'Source Sans Pro', sans-serif;
}
.button:focus {
  outline: none !important;
  border-color: #98FB98;
  box-shadow: 0 0 10px #98FB98;
}
.message {
  text-align: center;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  font-family: monospace;
  color: white;
}
.failure {
    background-color: rgba(255,76,76,0.6);
}
.success {
    background-color: rgba(142,235,143,0.9);
}

@media screen and (max-width: 768px){
    /* For mobile phones: */
    .container {
      width: 90%;
    }
    textarea {
        width: 80%;
        height: 70vh;
    }
}
