<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Wit trainer</title>
    <link rel="stylesheet" href="../static/css/wit_trainer.css">
    <link rel="shortcut icon" href="../static/icons/favicon.png" type="image/x-icon">
  </head>
  <body>
    <div class="container center">
      <h1 class="center">Select an intent and enter sentences to train</h1>
      <p>Enter the sentence and the keyword seperated by a semicolon ( ; )</p>
      {% if status==200 %}
        <div class="center message success">
          {{message}}
        </div>
      {% elif (status!=200) and (status) %}
        <div class="center message failure">
          {{message}}
        </div>
      {% endif %}
      <!-- <form class="wit_form" action="localhost:8080/post_to_wit" method="POST"> -->
        <form class="wit_form" action="/train_wit" method="POST">
        <select class="button center" name="intents">
          {% for intent in intents %}
            <option value={{intent}}>{{intent}}</option>
          {% endfor%}
        </select>
        <br>
        <textarea class="center" name = "train_text" placeholder="How are you ; How&#10;What is this ; What&#10;Who are you ; Who"></textarea>
        <br>
        <input class="button center" type="submit">
      </form>
    </div>
  </body>
</html>
