@import url('https://fonts.googleapis.com/css?family=Raleway|Lato|Montserrat');


body {
  padding: 20px;
  background-color: #c1fcc1;
  background-color: #ccccff;
}
.Header {
  font-size : 64px;
  color : black;
  font-family: 'Raleway', sans-serif;
  width: fit-content;
  padding: 15px;
  background-color: #fdf7ef;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Intro {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  padding: 10px;
  font-size: 36px;
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
}
.center {
  display: block;
  margin: auto;
}.WitForm {
  height: 240px;
}
.text-input {
  text-align: center;
  margin: 30px auto;
  height: 55px;
  width: 700px;
  padding: 30px 10px 10px 10px;
  font-size: 40px;
  font-family: 'Raleway' ,sans-serif;
  font-weight: 400;
  background-color: inherit;
  border-width: 0px 0px 2px 0px;
  border-color: gray;
}
.text-input:focus {
  outline: none;
  border-color: black;
  transition: all 0.5s ease-in-out;
}

.button {
  color : white;
  padding: 15px 45px;
  background-color: #6666ff;
  border-radius: 500px;
  font-size: 28px;
  font-family: 'Montserrat' ,sans-serif;
  border : 0px;
  margin: 10px auto 0px auto;
  transition : all 0.3s ease;
}
.button:hover {
  background-color: #5151cc;
  margin: 0px auto 10px auto;
  transition : all 0.3s ease;
}
.outputbox {
  opacity: 1;
  width: fit-content;
  margin-top : 45px;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 768px){
    /* For mobile phones: */
    .Header{
        font-size: 42px;
        margin : auto;
    }
    .Intro {
      font-size: 22px;
      width: 95%;
      margin-top: 40px;
    }
    .WitForm {
      height: 200px;
    }
    .text-input {
      height : 40px;
      font-size: 26px;
      width: 80%;
      padding: 10px;
    }
    .button {
      font-size: 26px;
    }
    .outputbox {
      font-size: 26px;
    }
    .bold {
      background-color: gray;
    }
}
