@import url('https://fonts.googleapis.com/css?family=Raleway|Lato|Montserrat');


body {
  padding: 5px;
  background-color: #ccccff;
}
.Header {
  float: left;
  font-size : 64px;
  color : black;
  font-family: 'Raleway', sans-serif;
  width: fit-content;
  padding: 15px;
  background-color: #fdf7ef;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#github-container {
  height: auto;
  position: relative;
  margin: 140px auto 0px auto;
  width: fit-content;
  bottom: 0px;
}
#github-container a {
  display: inherit;
  width: fit-content;
}
#github-thumbnail{
  height: 50px;
  width: auto;
  margin: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    visibility: hidden;
    width: 200px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -100px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.8) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.Intro {
  text-align: center;
  margin: 0px auto;
  width: 60%;
  padding: 15px 5px 5px 5px;
  font-size: 32px;
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
}
.center {
  display: block;
  margin: auto;
}.WitForm {
  height: auto;
  margin-bottom: 40px;
}
.text-input {
  text-align: center;
  margin: 5px auto;
  height: 55px;
  width: 700px;
  padding: 10px 10px 10px 10px;
  font-size: 38px;
  font-family: 'Raleway' ,sans-serif;
  font-weight: 400;
  background-color: inherit;
  border-width: 0px 0px 2px 0px;
  border-color: gray;
}
.text-input:focus {
  outline: none;
  border-color: black;
  transition: all 0.5s ease-in-out;
}
.button-container {
  width: fit-content;
  padding: 10px;
}
.button {
  color : white;
  padding: 15px 45px;
  background-color: #6666ff;
  border-radius: 500px;
  font-size: 28px;
  font-family: 'Montserrat' ,sans-serif;
  border : 0px;
  margin: 10px auto 0px auto;
  transition : all 0.3s ease;
}
.button-container:hover .button{
  background-color: #5151cc;
  margin: 0px auto 10px auto;
  transition : all 0.3s ease;
}
.outputContainer {
  width: 100%;
  overflow: hidden;
}
.outputbox {
  opacity: 1;
  width: fit-content;
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
}
.outputbox td{
  padding: 2px 20px;
}
.alert {
  background-color: rgba(255,76,76, 0.5);
  font-size: 32px;
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
}
.active {
  opacity: 1.0;
  margin-top: 0px;
  transition: all 0.25s ease;
}
.inactive{
    opacity: 0;
    margin-top: 55px;
    transition: all 0.20s ease;
}
@media screen and (max-width: 768px){
    /* For mobile phones: */
    .Wit {
      height: 300px;
    }
    .Header{
      float: none;
      font-size: 36px;
      margin : auto;
    }
    .Intro {
      font-size: 24px;
      width: 95%;
      margin-top: 0px;
    }
    .WitForm {
      height: auto;
    }
    .text-input {
      height : 40px;
      font-size: 26px;
      width: 80%;
      padding: 10px;
      margin: 20px auto;
    }
    .button {
      font-size: 16px;
    }
    .outputbox {
      font-size: 22px;
    }
    .outputContainer {
      padding-top:0px;
    }
    .inactive{
      margin-top: 15px;
    }
    #github-container {
      /* position: relative;
      margin: 50px auto 0px auto;
      right: auto;
      width: fit-content; */
      visibility: hidden;
      }
}
